.ordem-compra {
    margin-top: 50px;
    margin-bottom: 150px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid lightgreen;
}

select.ng-valid.ng-touched {
    border: 1px solid lightgreen;
}